In [1]:

import pandas as pd
import numpy as np
import metapack as mp
from pathlib import Path
from statsmodels.formula.api import ols
import seaborn as sns
import matplotlib.pyplot as plt
from sdipylib.plot import  source_attribution
from IPython.display import HTML, display

# /Users/eric/opt/anaconda3/envs/data/lib/python3.7/site-packages/pandas/plotting/_tools.py:307: MatplotlibDeprecationWarning: 
# The rowNum attribute was deprecated in Matplotlib 3.2 and will be removed two minor releases later. Use ax.get_subplotspec().rowspan.start instead.
#   layout[ax.rowNum, ax.colNum] = ax.get_visible()
import warnings
warnings.simplefilter("ignore")

large = 22; med = 16; small = 12
params = {'axes.titlesize': large,
          'legend.fontsize': med,
          'figure.figsize': (16, 10),
          'axes.labelsize': med,
          'axes.titlesize': med,
          'xtick.labelsize': med,
          'ytick.labelsize': med,
          'figure.titlesize': large}
plt.rcParams.update(params)
plt.style.use('seaborn-whitegrid')
sns.set_style("white")
%matplotlib inline

%run weights.py
%run lib.py 

source = "Survey of Consumer Finances, 2016 and 2019 pooled"

# Reweighting


## References

Freedman, David A., and Richard A. Berk. “Weighting Regressions by Propensity Scores.” Evaluation Review 32, no. 4 (August 2008): 392–409. https://doi.org/10.1177/0193841X08317586.

In [2]:
pkg = mp.multi_open('federalreserve.gov-consumer_finances-2016e2019-inherit', print_ref=True)
#pkg = mp.jupyter.open_source_package()
pkg

Opening:  index:federalreserve.gov-consumer_finances-2016e2019-inherit

# Survey of Consumer Finances, Inheritance Extract
`federalreserve.gov-consumer_finances-2016e2019-inherit-1.2.6` Last Update: 2020-12-23T22:27:54

_An Extract from the survey of consumer finances for studying networth and ineritance, from multiple years_


This is an extract of the 2016 and 2019 Survey of Consumer Finances, with extracted variables
and recoded variables oriented toward studying inheritance.



## Images

[![doc_img](docs/networth_race_inc.png "networth_race_inc")](docs/networth_race_inc.png)

Net Worth by Income Percentile and Race## Notes

* Version 1.2.2 Added the Inflatable flag
* Version 1.2.3 Inflated dollar ammounts to current dollars
* Version 1.2.6 Fixed inflation error, dded non-inflated dataset.
## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [inherit_scf_16_19](data/inherit_scf_16_19.csv)**. Extract of the 2016 and 2019 SCF for inheritance and networth,uninflated
* ** [inherit_scf_16_19_i](data/inherit_scf_16_19_i.csv)**. Extract of the 2016 and 2019 SCF for inheritance and networth, inflated to 2020 dollars

## References
<ul><li> <strong>scf</string>, <em>metapack+http://library.metatab.org/federalreserve.gov-consumer_finances.csv</em>. Survey of consumer finances data packages</li><li> <strong><a href="https://fred.stlouisfed.org/graph/fredgraph.csv?&id=CPIAUCSL">cpi</a></strong>. Consumer Price Index</li><ul>

In [3]:
pkg.reference('scf').package

# Survey of Consumer Finances
`federalreserve.gov-consumer_finances-1.2.4` Last Update: 2021-01-02T19:10:02

_References to the Survey of Consumer Finances_


The data package provides references to the main SCF files. The package does not contain data.
## Documentation Links

* [2019 Codebook](https://www.federalreserve.gov/econres/files/codebk2019.txt)
* [2016 Codebook](https://www.federalreserve.gov/econres/files/codebk2016.txt)
* [2016 Extract SAS Macro](https://www.federalreserve.gov/econres/files/bulletin.macro.txt)
* [2013 Codebook](https://www.federalreserve.gov/econres/files/codebk2013.txt)
* [2013 Extract SAS Macro](https://www.federalreserve.gov/econres/files/bulletin.macro.txt)
* [2010 Codebook](https://www.federalreserve.gov/econres/files/codebk2010.txt)
* [2010 Extract SAS Macro](https://www.federalreserve.gov/econres/files/bulletin.macro.txt)
* [Documentation Page](http://library.metatab.org/federalreserve.gov-consumer_finances-1.2.4/index.html)
* [Homepage](https://www.federalreserve.gov/econres/scfindex.htm)
* [2016 Homepage](https://www.federalreserve.gov/econres/scf_2016.htm)
* [2013 Home Page](https://www.federalreserve.gov/econres/scf_2013.htm)
* [2010 Home Page](https://www.federalreserve.gov/econres/scf_2010.htm)


## Notes

* scf_extract_10 is broken; Pandas can't load the version of Stat for this file
## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)


## References
<ul><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2019s.zip#p19i6.dta">scf_public_19</a></strong>. Survey of consumer finances, full public dataset, 2019</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2019s.zip#rscfp2019.dta">scf_extract_19</a></strong>. Survey of consumer finances, public extract, 2019</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2019rw1s.zip#p19_rw1.dta">scf_weights_19</a></strong>. Survey of consumer finances, replicate weights, 2019</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2016s.zip#p16i6.dta">scf_public_16</a></strong>. Survey of consumer finances, full public dataset, 2016</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2016s.zip#rscfp2016.dta">scf_extract_16</a></strong>. Survey of consumer finances, public extract, 2016</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2016rw1s.zip#p16_rw1.dta">scf_weights_16</a></strong>. Survey of consumer finances, replicate weights, 2016</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2013s.zip#p13i6.dta">scf_public_13</a></strong>. Survey of consumer finances, full public dataset, 2013</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2013s.zip#rscfp2013.dta">scf_extract_13</a></strong>. Survey of consumer finances, public extract, 2013</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2013rw1s.zip#p13_rw1.dta">scf_weights_13</a></strong>. Survey of consumer finances, replicate weights, 2013</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2010s.zip#p10i6.dta">scf_public_10</a></strong>. Survey of consumer finances, full public dataset, 2010</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2010.zip#scfp2010&target_format=dta">scf_extract_10</a></strong>. Survey of consumer finances, public extract, 2010</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2010rw1s.zip#p10_rw1.dta">scf_weights_10</a></strong>. Survey of consumer finances, replicate weights, 2010</li><ul>

In [4]:
pkg.resource('inherit_scf_16_19')

In [5]:
inherit_scf_16_19 = pkg.resource('inherit_scf_16_19').dataframe()

df =   make_descriptive_df(inherit_scf_16_19)    

# Create an ID variable that distinguishes years
df['id'] = df.year.astype(str)+'-'+df.record_id.astype(str)

In [6]:
# Group by the values we are normalizing and count them, per race

def reweight_black(df, factors):
    """Create new weights for blacks to match factor groupings of white, using a sampling method.
    This will re-weight blacks to have the same popuation size as whites"""
    # Sample to make handing weights easier. Could probably group and sum
    # the weights
    dfs = df.sample(1_000_000, replace=True, weights=df.wt0)
    
    t = dfs.groupby(factors + ['race']).case_id.count().to_frame().unstack()
    t = t.droplevel(0, axis=1)

    # For the black records, where the number in the category is non zero
    # compute the w:b ratio
    tnz = t[ (t.black!=0)]
    t.loc[(t.black!=0),'ratio'] = tnz.white/tnz.black

    t = t.fillna(0)

    # Merge the black ratios back in. The white ratios are always 1
    x = df[df.race=='black'].merge(t[['ratio']].reset_index(), on=factors)

    z = df.merge(x[['id','ratio']], on='id', how='left')
    z['ratio'] = z.ratio.fillna(1) # White ratio is 1
    z['rw'] = z.wt0 * z.ratio # Create the new weight

    return z
    
def reweight_black_wt(df, factors):
    """Re-weight blacks, but directly use the weights, rather than sampling. This will re-weights blacks
    to have the same factor-group ratio, but retaining the size of the black population"""
    t = df.groupby(factors + ['race']).wt0.sum().to_frame().unstack().droplevel(0, axis=1).fillna(0)
    t.loc[t.black == 0,'black'] = t.loc[t.black == 0,'black'].replace({0:1})
    s = t.sum()

    p = t/s # portion of population per category

    r = (p.white / p.black) # factor to multiply black weights by
    t.loc[:, 'black_adj'] = t.black * r

    t = df[df.race=='black']

    t = t.merge(r.to_frame('black_adj').reset_index(), on=factors )
    df_adj = t[['id','black_adj']].merge(df, on='id', how='right')
    df_adj['black_adj'] = df_adj['black_adj'].fillna(1)
    df_adj['wt0_adj'] = df_adj.wt0 * df_adj.black_adj

    return df_adj
    
def rd(a,b):
    """Relative difference"""
    return np.abs(a-b)/ (a)
    
def wbdiff(df):
    return rd(df.white,df.black).round(3)
    
def rw_report(df1, df2, f):
    
    from IPython.display import HTML

    t1 = f(df1)
    t2 = f(df2)
    
    stats = pd.DataFrame({
        'Unadj': t1, 
        'Adj':t2
    })
    
   
    s1 = stats.Adj - stats.Unadj
    s2 = pd.Series(stats.T.white - stats.T.black, name='Diff')
    
    stats['Diff'] = (s1) 
    stats = stats.append(s2).fillna('')
    
    t = pd.DataFrame([
        [(t1.white - t1.black).round(0).astype(int),  (t1.white/t1.black).round(2), wbdiff(t1)],
        [(t2.white - t2.black).round(0).astype(int),  (t2.white/t2.black).round(2), wbdiff(t2)  ],
    ], columns = ['Diff', 'Ratio', 'Rel Diff'])
   
    s = (t.iloc[1]/t.iloc[0])
    s.name = 3
    t = t.append(s)
    t.index = ['Unadj','Adj','Ratio']
    
    
    o = "<h2>Statistic</h2>"+stats.to_html()+"<h2>Differences</h2>"+t.to_html()
     
    return HTML(o)
 
def run_rw(factors):
    dfrw = reweight_black(df,factors)

    dfs = df.sample(1_000_000, replace=True, weights=df.wt0)
    dfz = dfrw.sample(1_000_000, replace=True, weights=dfrw.rw)
    
    return rw_report(dfs, dfz, lambda df : df.groupby('race').networth.median())

In [27]:
#factors =  [ 'edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds', 'housecl']
factors =  [ 'edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds']
factors =  ['edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds',  'borrow_vacation', 'famstruct',
           'fin_know', 'fin_risk']


def do_adjust(df, factors):
    dfa = reweight_black(df, factors)
    dfa = reweight_black_wt(dfa, factors)


    # Adjustment using weighted Medians
    return pd.concat([
        df.groupby('race').apply(wmedian,'networth', 'wt0' ).to_frame('unadj'),
        dfa.groupby('race').apply(wmedian,'networth', 'wt0_adj' ).to_frame('adj')
    ], axis=1)
    
    
do_adjust(df, ['married', 'agecl', 'edcl', 'occat1'])

          unadj            adj
race
black   18880.0   59666.413502
white  178120.0  178120.000000

In [8]:
#factors =  [ 'edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds', 'housecl']
factors =  [ 'edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds']
factors =  ['edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds',  'borrow_vacation', 'famstruct',
           'fin_know', 'fin_risk']


dfa = reweight_black(df, factors)
dfa = reweight_black_wt(dfa, factors)


dfs = df.sample(1_000_000, replace=True, weights=df.wt0)
dfz = dfa.sample(1_000_000, replace=True, weights=dfa.wt0_adj)

In [9]:
# Adjustment using sampling. 
rw_report(dfs, dfz, lambda df : df.groupby('race').networth.median())

In [10]:
rw_report(dfs, dfz, lambda df : df.groupby('race').norminc.median())

In [11]:
dfs.revpay

259        0.000000
8803       0.000000
38656    462.500000
42634      0.000000
25810     13.294655
            ...
5919       0.000000
9819     850.857947
44645     92.500000
58345      0.000000
9729       0.000000
Name: revpay, Length: 1000000, dtype: float64

In [12]:
target = 'networth'

def reweighted_mean(dfz):
    weights = dfz.groupby(['race',f]).case_id.count().unstack()
    return (t2*weights).sum(axis=1)/weights.sum(axis=1)

factors =  ['edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds',  'borrow_vacation', 'famstruct',
           'fin_know', 'fin_risk']

dfs = df.sample(100_000, replace=True, weights=df.wt0)

for f in factors:
    
    dfrw = reweight_black(df,[f])
    dfz = dfrw.sample(100_000, replace=True, weights=dfrw.rw)
    
    t1 = dfs.groupby('race').networth.median()
    t2 = dfz.groupby('race').networth.median()
    d1 = t1.white - t1.black
    d2 = t2.white - t2.black
    
    print( f, (d1-d2)/d1 )

edcl 0.0644674544130353
agecl 0.07814666873951999
married 0.10085780859897858
lt_planner 0.04377247672641735
occat1 0.026272888065201457
spend_exceeds 0.06752191848092463
borrow_vacation 0.006171145379371087
famstruct 0.13683903913861944
fin_know 0.04196420347855041
fin_risk 0.009899064081422984

In [13]:
run_rw(factors)

In [14]:
rw_report(dfs, dfz, lambda df : df.groupby('race').norminc.mean())

In [15]:
dfrw = reweight_black(df, [ 'nincpctlecat'])

dfs = df.sample(1_000_000, replace=True, weights=df.wt0)
dfz = dfrw.sample(1_000_000, replace=True, weights=dfrw.rw)

t = rw_report(dfs, dfz, lambda df : df.groupby('race').networth.median())
t

In [16]:
dfs = df.sample(1_000_000, replace=True, weights=df.wt0)

In [17]:
t = dfs[dfs.housecl == 1]
dfs.groupby(['nincpctle', 'race']).homeeq.median().unstack().astype(int)#.plot()

race        black   white
nincpctle
0               0       0
10              0   11699
20              0   29780
30              0   35000
40           1000   50000
50           7000   52000
60          22000   75000
70          28716   81000
80          60623  128692
90         125000  224000
95         166000  407348
99         935000  950000

In [18]:
rw_report(dfs, dfz, lambda df : df.groupby('race').homeeq.mean())

# Characterize Factor Groups

In [19]:
dfs = df.sample(500_000, replace=True, weights=df.wt0)
factors = [ 'edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds', 'housecl']
t = dfs.groupby(factors + ['race']).case_id.count().to_frame().unstack()
t = t.droplevel(0, axis=1)
tnz = t[ (t.black!=0)]
tnz

race                                                           black  white
edcl    agecl married lt_planner occat1 spend_exceeds housecl
No HS   <35   1       0          1      1             2          157    145
                                        2             2           61    314
                                        3             2           47    108
                                 4      3             2          108      0
                      1          1      2             2          113    326
...                                                              ...    ...
College >=75  2       0          3      3             2           26     51
                      1          1      2             2           92      0
                                 3      2             1           18   1133
                                        3             1          237   1656
                                                      2           90    445

[711 rows x 2 columns]

In [20]:
dfs = df.sample(500_000, replace=True, weights=df.wt0)
factors = [ 'edcl','agecl', 'married','lt_planner','occat1', 'spend_exceeds', 'housecl']
t = dfs.groupby(factors + ['race']).wt0.agg(['mean','std']).unstack()
t = t.dropna()
t

                                                                       mean  \
race                                                                  black
edcl    agecl married lt_planner occat1 spend_exceeds housecl
No HS   <35   1       0          1      1             2        25028.821300
                                        2             2        18793.251746
                                        3             2        22716.479689
                      1          1      2             2        27559.654115
                                 4      1             2        20382.166991
...                                                                     ...
College >=75  2       0          3      3             1        31874.603176
                                                      2        15647.757599
                      1          3      2             1         7267.517539
                                        3             1        38572.449472
                                                      2        42835.856392

                                                                             \
race                                                                  white
edcl    agecl married lt_planner occat1 spend_exceeds housecl
No HS   <35   1       0          1      1             2        21626.405905
                                        2             2        27671.215011
                                        3             2        27623.512126
                      1          1      2             2        26732.829307
                                 4      1             2        15228.564670
...                                                                     ...
College >=75  2       0          3      3             1        33174.870090
                                                      2        18092.785659
                      1          3      2             1        45954.950855
                                        3             1        29500.392800
                                                      2        29093.321528

                                                                        std  \
race                                                                  black
edcl    agecl married lt_planner occat1 spend_exceeds housecl
No HS   <35   1       0          1      1             2         4296.148307
                                        2             2          642.250375
                                        3             2           50.665965
                      1          1      2             2         3890.986694
                                 4      1             2            0.000000
...                                                                     ...
College >=75  2       0          3      3             1         7805.605634
                                                      2          111.185001
                      1          3      2             1          138.079145
                                        3             1        11527.358806
                                                      2          373.608848


race                                                                  white
edcl    agecl married lt_planner occat1 spend_exceeds housecl
No HS   <35   1       0          1      1             2         2968.914129
                                        2             2         5719.238335
                                        3             2         5333.387317
                      1          1      2             2         5573.349371
                                 4      1             2           37.273419
...                                                                     ...
College >=75  2       0          3      3             1        13994.003200
                                                      2         8586.119084
                      1          3      2             1        15555.899596
                                        3             1        10667.911582
                                                      2         9683.675425

[584 rows x 4 columns]

In [21]:
t.loc[:,'mean'].divide(t.loc[:,'std']).sort_values('white', ascending=False).replace({np.inf:np.nan}).dropna()

race                                                                     black  \
edcl         agecl married lt_planner occat1 spend_exceeds housecl
No HS        65-74 2       0          3      1             1        243.131108
                           1          3      1             1        661.498216
             35-44 2       1          4      2             2        306.063962
HS/GED       45-54 2       1          4      3             1        237.284691
Some College 35-44 2       0          3      3             2          4.612466
...                                                                        ...
College      >=75  1       1          2      3             1          2.428884
HS/GED       65-74 1       1          2      3             1          2.452188
College      65-74 1       1          2      3             1          2.218738
             45-54 1       1          2      3             1          2.092556
             55-64 1       1          2      3             1          2.272815

race                                                                      white
edcl         agecl married lt_planner occat1 spend_exceeds housecl
No HS        65-74 2       0          3      1             1        4687.872265
                           1          3      1             1        3410.810130
             35-44 2       1          4      2             2        2002.585239
HS/GED       45-54 2       1          4      3             1        1962.482435
Some College 35-44 2       0          3      3             2        1912.148433
...                                                                         ...
College      >=75  1       1          2      3             1           1.769046
HS/GED       65-74 1       1          2      3             1           1.675448
College      65-74 1       1          2      3             1           1.428567
             45-54 1       1          2      3             1           1.374332
             55-64 1       1          2      3             1           1.258363

[573 rows x 2 columns]

In [22]:
tx = t[(t.black < 1e6) & (t.white < 1e6)]
print(t.corr())

sns.scatterplot(t.black, t.white)

AttributeError: 'DataFrame' object has no attribute 'black'

In [ ]:
(tx.white - tx.black).describe()

In [ ]:
tx = t[(t.black > t.white)]
sns.scatterplot(tx.black, tx.white)