In [14]:
import pandas as pd
import numpy as np
import metapack as mp
from pathlib import Path
from statsmodels.formula.api import ols
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
from sdipylib.plot import  source_attribution

# /Users/eric/opt/anaconda3/envs/data/lib/python3.7/site-packages/pandas/plotting/_tools.py:307: MatplotlibDeprecationWarning: 
# The rowNum attribute was deprecated in Matplotlib 3.2 and will be removed two minor releases later. Use ax.get_subplotspec().rowspan.start instead.
#   layout[ax.rowNum, ax.colNum] = ax.get_visible()
import warnings
warnings.simplefilter("ignore")

large = 22; med = 16; small = 12
params = {'axes.titlesize': large,
          'legend.fontsize': med,
          'figure.figsize': (16, 10),
          'axes.labelsize': med,
          'axes.titlesize': med,
          'xtick.labelsize': med,
          'ytick.labelsize': med,
          'figure.titlesize': large}
plt.rcParams.update(params)
plt.style.use('seaborn-whitegrid')
sns.set_style("white")
%matplotlib inline

%run weights.py
%run lib.py 

source = "Survey of Consumer Finances, 2016 and 2019 pooled. 2020 Dollars"

# Sampling errors

From the documentation:
    
     An estimate of the total standard error attributable to imputation and sampling is given by SQRT((6/5)*imputation variance + sampling variance).

In [4]:
pkg = multi_open('federalreserve.gov-consumer_finances-2016e2019-inherit', print_ref=True)
print(pkg.ref)
pkg

Opening:  index:federalreserve.gov-consumer_finances-2016e2019-inherit
metapack+file:///Users/eric/proj/data-projects/metatab-packages/inequality-collection/federalreserve.gov-consumer_finances-2016-inherit/_packages/federalreserve.gov-consumer_finances-2016e2019-inherit-1.2.6/metadata.csv

# Survey of Consumer Finances, Inheritance Extract
`federalreserve.gov-consumer_finances-2016e2019-inherit-1.2.6` Last Update: 2020-12-23T22:27:54

_An Extract from the survey of consumer finances for studying networth and ineritance, from multiple years_


This is an extract of the 2016 and 2019 Survey of Consumer Finances, with extracted variables
and recoded variables oriented toward studying inheritance.



## Images

[![doc_img](docs/networth_race_inc.png "networth_race_inc")](docs/networth_race_inc.png)

Net Worth by Income Percentile and Race## Notes

* Version 1.2.2 Added the Inflatable flag
* Version 1.2.3 Inflated dollar ammounts to current dollars
* Version 1.2.6 Fixed inflation error, dded non-inflated dataset.
## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [inherit_scf_16_19](data/inherit_scf_16_19.csv)**. Extract of the 2016 and 2019 SCF for inheritance and networth,uninflated
* ** [inherit_scf_16_19_i](data/inherit_scf_16_19_i.csv)**. Extract of the 2016 and 2019 SCF for inheritance and networth, inflated to 2020 dollars

## References
<ul><li> <strong>scf</string>, <em>metapack+http://library.metatab.org/federalreserve.gov-consumer_finances.csv</em>. Survey of consumer finances data packages</li><li> <strong><a href="https://fred.stlouisfed.org/graph/fredgraph.csv?&id=CPIAUCSL">cpi</a></strong>. Consumer Price Index</li><ul>

In [5]:
pkg = multi_open('federalreserve.gov-consumer_finances', print_ref=True)
pkg

Opening:  index:federalreserve.gov-consumer_finances

# Survey of Consumer Finances
`federalreserve.gov-consumer_finances-1.2.4` Last Update: 2020-12-22T22:07:45

_References to the Survey of Consumer Finances_


The data package provides references to the main SCF files. The package does not contain data.

* [How Does Intergenerational Wealth Transmission Affect Wealth Concentration? ](https://www.federalreserve.gov/econres/notes/feds-notes/how-does-intergenerational-wealth-transmission-affect-wealth-concentration-20180601.htm)
* [The Dynamics of the Racial Wealth Gap](http://www.people.virginia.edu/~ey2d/aliprantis_carroll_young_2019b.pdf)

Feiveson and Sabelhaus calculate that 26% of welath is due to transfers, because they assume that all of the transfer is invested at 3%. THis is clearly nonsense0
## Documentation Links

* [2019 Codebook](https://www.federalreserve.gov/econres/files/codebk2019.txt)
* [2016 Codebook](https://www.federalreserve.gov/econres/files/codebk2016.txt)
* [2016 Extract SAS Macro](https://www.federalreserve.gov/econres/files/bulletin.macro.txt)
* [2013 Codebook](https://www.federalreserve.gov/econres/files/codebk2013.txt)
* [2013 Extract SAS Macro](https://www.federalreserve.gov/econres/files/bulletin.macro.txt)
* [2010 Codebook](https://www.federalreserve.gov/econres/files/codebk2010.txt)
* [2010 Extract SAS Macro](https://www.federalreserve.gov/econres/files/bulletin.macro.txt)
* [Homepage](https://www.federalreserve.gov/econres/scfindex.htm)
* [2016 Homepage](https://www.federalreserve.gov/econres/scf_2016.htm)
* [2013 Home Page](https://www.federalreserve.gov/econres/scf_2013.htm)
* [2010 Home Page](https://www.federalreserve.gov/econres/scf_2010.htm)


## Notes

* scf_extract_10 is broken; Pandas can't load the version of Stat for this file
## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)


## References
<ul><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2019s.zip#p19i6.dta">scf_public_19</a></strong>. Survey of consumer finances, full public dataset, 2019</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2019s.zip#rscfp2019.dta">scf_extract_19</a></strong>. Survey of consumer finances, public extract, 2019</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2019rw1s.zip#p19_rw1.dta">scf_weights_19</a></strong>. Survey of consumer finances, replicate weights, 2019</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2016s.zip#p16i6.dta">scf_public_16</a></strong>. Survey of consumer finances, full public dataset, 2016</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2016s.zip#rscfp2016.dta">scf_extract_16</a></strong>. Survey of consumer finances, public extract, 2016</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2016rw1s.zip#p16_rw1.dta">scf_weights_16</a></strong>. Survey of consumer finances, replicate weights, 2016</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2013s.zip#p13i6.dta">scf_public_13</a></strong>. Survey of consumer finances, full public dataset, 2013</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2013s.zip#rscfp2013.dta">scf_extract_13</a></strong>. Survey of consumer finances, public extract, 2013</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2013rw1s.zip#p13_rw1.dta">scf_weights_13</a></strong>. Survey of consumer finances, replicate weights, 2013</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2010s.zip#p10i6.dta">scf_public_10</a></strong>. Survey of consumer finances, full public dataset, 2010</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scfp2010.zip#scfp2010&target_format=dta">scf_extract_10</a></strong>. Survey of consumer finances, public extract, 2010</li><li> <strong><a href="https://www.federalreserve.gov/econres/files/scf2010rw1s.zip#p10_rw1.dta">scf_weights_10</a></strong>. Survey of consumer finances, replicate weights, 2010</li><ul>

In [6]:
w16 = pkg.reference('scf_weights_16').dataframe()
w16.rename(columns={'Y1':'record_id'}, inplace=True)
w16.insert(0,'year',2016)
w16.insert(1,'case_id',w16.record_id//10)
w16.columns = [e.lower() for e in w16.columns]

w19 = pkg.reference('scf_weights_19').dataframe()
w19.rename(columns={'y1':'record_id'}, inplace=True)
w19.insert(0,'year',2019)
w19.insert(1,'case_id',w19.record_id//10)

w = pd.concat([w16, w19]).sort_values(['year','case_id'])
cols = list(e for e in w.columns if not e.startswith('mm'))
w = w[cols]

In [7]:
pkg = multi_open('federalreserve.gov-consumer_finances-2016e2019-inherit', print_ref=True)
df = pkg.resource('inherit_scf_16_19').dataframe()

# Ensure weights has the same index as df
w = df[['year','case_id']].merge(w, on=['year','case_id'])

df.shape, w.shape

Opening:  index:federalreserve.gov-consumer_finances-2016e2019-inherit

((60125, 92), (60125, 1003))

In [8]:
def make_descriptive_df(df, weights = None):
    """Get the inheritance set, remove all races ecept black and white, and munge some values"""
    
    
    if weights is None:
        weights = df.wt0

    df = df[df.race.isin(['white','black'])]

    # Count parent's bachelors degrees

    def count_bach(r):
        """Count the number of bachelors degrees"""
        return \
            int(r.ed_father_1 == 'bachelors') + \
            int(r.ed_father_2 == 'bachelors') + \
            int(r.ed_mother_1 == 'bachelors') + \
            int(r.ed_mother_2 == 'bachelors')

    df['n_bach'] = df.apply(count_bach, axis=1)
    df['agecl'] = df.agecl.astype(pd.CategoricalDtype([ '<35', '35-44', '45-54', '55-64', '65-74', '>=75',], ordered=True))
    df['edcl'] = df.edcl.astype(pd.CategoricalDtype(['No HS', 'HS/GED', 'Some College', 'College'], ordered = True))

    # Remap the nwpctlecat category numbers to percentile numbers
    m = dict(zip(list(sorted(df.nwpctlecat.unique())),'0 10 20 30 40 50 60 70 80 90 95 99'.split()))
    df['nwpctlecat'] = pd.to_numeric(df.nwpctlecat.replace(m))

    o, gi_sum_bins = pd.qcut(df[df.gi_value_cd > 0].gi_value_cd, 10 , retbins = True)
    gi_sum_bins[0] = 0 # So zero gets included in a bin
    df['gi_value_cd_decile']  = pd.cut(df.gi_value_cd, gi_sum_bins, labels=False).fillna(0)

    o, gi_sum_bins = pd.qcut(df[df.gi_value_cd > 0].gi_value_cd, 100 , retbins = True, duplicates='drop')
    #gi_sum_bins[0] = 0 # So zero gets included in a bin
    df['gi_value_cd_pctle']  = pd.cut(df.gi_value_cd, gi_sum_bins, labels=False).fillna(0)

    o, gi_sum_bins = pd.qcut(df[df.networth > 0].networth, 100 , retbins = True, duplicates='drop')
    #gi_sum_bins[0] = 0 # So zero gets included in a bin
    df['networth_pctle']  = pd.cut(df.networth, gi_sum_bins, labels=False).fillna(0)

    df90 = df[ (df.networth_pctle <= 90) & (df.nincpctle < 90) ] # Exclude those in top 10pct of gifts. 

    return df,  df90
    
dfbw,  dfs90 =   make_descriptive_df(df) 
   
dfbw.head()

,year,case_id,record_id,implicate_id,age_1,age_2,hisp,race,addtional_race,unusual_income,...,networthpc,assetpc,gi_pv_10,gi_pv_7,gi_pv_5,gi_value_cd,n_bach,gi_value_cd_decile,gi_value_cd_pctle,networth_pctle
0,2016,1,11,1,71,0,5,white,5,3,...,187954.520394,188358.677918,0.0,0.0,0.0,0.0,0,0.0,0.0,39.0
1,2016,1,12,2,71,0,5,white,5,3,...,188071.513361,188465.035162,0.0,0.0,0.0,0.0,0,0.0,0.0,39.0
2,2016,1,13,3,71,0,5,white,5,3,...,187965.156118,188358.677918,0.0,0.0,0.0,0.0,0,0.0,0.0,39.0
3,2016,1,14,4,71,0,5,white,5,3,...,187965.156118,188358.677918,0.0,0.0,0.0,0.0,0,0.0,0.0,39.0
4,2016,1,15,5,71,0,5,white,5,3,...,188071.513361,188465.035162,0.0,0.0,0.0,0.0,0,0.0,0.0,39.0

In [9]:

from IPython.display import display

weight_cols = list(e for e in w.columns if e.startswith('wt1'))
import random

def sample(N, wc):
    return df.sample(N,replace=True, weights=w[wc])

In [10]:
def geo_range(start, stop, r):
    i = start
    while i < stop:
        yield int(i)
        i *= r
        
        
list(geo_range(100, 1000, 1.2))

[100, 120, 144, 172, 207, 248, 298, 358, 429, 515, 619, 743, 891]

In [11]:
#series = []
points = [ (N, ncw) for ncw in geo_range(100, 1000, 1.2) for N in geo_range(100_000, 1e6, 1.2)]

from tqdm import tqdm

with open('series.pickle', 'rb') as f:
    # Pickle the 'data' dictionary using the highest protocol available.
    series = pickle.load(f)

seen = set()
for N, ncw, v in series:
    seen.add ( (N, ncw) )

for N, ncw in tqdm(points):

    if (N, ncw) in seen:
        continue
   
    v = pd.Series([sample(N, wc).networth.median() for wc in random.choices(weight_cols, k=ncw)])

    series.append( ( N, ncw, v) )
    import pickle
    with open('series.pickle', 'wb') as f:
        # Pickle the 'data' dictionary using the highest protocol available.
        pickle.dump(series, f, pickle.HIGHEST_PROTOCOL)

100%|██████████| 169/169 [00:00<00:00, 673159.90it/s]

In [12]:
w

,year,case_id,record_id,wt1b1,wt1b2,wt1b3,wt1b4,wt1b5,wt1b6,wt1b7,...,wt1b991,wt1b992,wt1b993,wt1b994,wt1b995,wt1b996,wt1b997,wt1b998,wt1b999,yy1
0,2016,1,11,NaN,30675.633028,30501.527264,32288.373838,30781.543684,31745.550789,NaN,...,NaN,NaN,33166.586607,31820.929574,30895.569878,31136.328418,31601.909667,31530.264161,NaN,1
1,2016,1,11,NaN,30675.633028,30501.527264,32288.373838,30781.543684,31745.550789,NaN,...,NaN,NaN,33166.586607,31820.929574,30895.569878,31136.328418,31601.909667,31530.264161,NaN,1
2,2016,1,11,NaN,30675.633028,30501.527264,32288.373838,30781.543684,31745.550789,NaN,...,NaN,NaN,33166.586607,31820.929574,30895.569878,31136.328418,31601.909667,31530.264161,NaN,1
3,2016,1,11,NaN,30675.633028,30501.527264,32288.373838,30781.543684,31745.550789,NaN,...,NaN,NaN,33166.586607,31820.929574,30895.569878,31136.328418,31601.909667,31530.264161,NaN,1
4,2016,1,11,NaN,30675.633028,30501.527264,32288.373838,30781.543684,31745.550789,NaN,...,NaN,NaN,33166.586607,31820.929574,30895.569878,31136.328418,31601.909667,31530.264161,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60120,2019,5813,58131,2881.631412,3122.010728,3634.425238,2802.690049,2458.055375,2735.260725,NaN,...,3473.500564,3524.086922,NaN,NaN,NaN,NaN,NaN,2945.979369,4080.004804,5813
60121,2019,5813,58131,2881.631412,3122.010728,3634.425238,2802.690049,2458.055375,2735.260725,NaN,...,3473.500564,3524.086922,NaN,NaN,NaN,NaN,NaN,2945.979369,4080.004804,5813
60122,2019,5813,58131,2881.631412,3122.010728,3634.425238,2802.690049,2458.055375,2735.260725,NaN,...,3473.500564,3524.086922,NaN,NaN,NaN,NaN,NaN,2945.979369,4080.004804,5813
60123,2019,5813,58131,2881.631412,3122.010728,3634.425238,2802.690049,2458.055375,2735.260725,NaN,...,3473.500564,3524.086922,NaN,NaN,NaN,NaN,NaN,2945.979369,4080.004804,5813
60124,2019,5813,58131,2881.631412,3122.010728,3634.425238,2802.690049,2458.055375,2735.260725,NaN,...,3473.500564,3524.086922,NaN,NaN,NaN,NaN,NaN,2945.979369,4080.004804,5813

In [17]:
%run ./weights.py

def implicate_agg(df, cat_cols, stat_col, agg_f, ret_impl=False):
    '''Compute a statistic, and the standard error for an aggregation over
    dataset groups, using the implicates'''
    
    if not isinstance(cat_cols, (list, tuple)):
        cat_cols = [cat_cols]
    
    
    impl = df.groupby(cat_cols+['implicate_id']).apply(agg_f, stat_col)\
        .to_frame('stat').unstack()
    
    if ret_impl:
        return impl
    
    impl_se = impl.std(axis=1).to_frame('std')
    stat = impl.mean(axis=1)
    t =  pd.concat([stat, impl_se], axis=1)
    t.columns = ['stat', 'se']
    return t
   
 

stat = implicate_agg(df, 'race', 'networth', wmedian)   
stat

                stat           se
race
black   19065.809283   553.025142
hisp    27111.848101   730.393072
other  159888.588186  3763.314068
white  178099.700141  1288.896948

In [18]:
def replicate_agg(df, w, cat_cols, stat_col, agg_f, n_replicates=None):
    
    if not isinstance(cat_cols, (list, tuple)):
        cat_cols = [cat_cols]
    
    t = df[['year','case_id',stat_col,'wt0']+cat_cols].merge(w, on=['year','case_id'])
    wt_cols = [c for c in t.columns if c.startswith('wt')]

    if n_replicates:
        wt_cols = wt_cols[:n_replicates]

    f = [t.groupby('race').apply(wmedian, stat_col, wtc).to_frame(wtc) for wtc in wt_cols]
    
    repl = pd.concat(f,axis=1)
    repl_se = repl.std(axis=1)
    repl_se
    
    return repl

repl = replicate_agg(df, w, 'race', 'networth', wmedian, n_replicates=3) 
repl

                 wt0          wt1b1          wt1b2
race
black   18880.000000   21484.163150   17830.791842
hisp    27014.739803   28769.634318   25900.000000
other  158500.000000  124863.403657  124180.000000
white  178120.000000  180170.000000  168400.000000

In [19]:

def implrepl_agg(df, w, cat_cols, stat_col, agg_f, n_replicates=None):
    
    impl = implicate_agg(df, cat_cols, stat_col, wmedian, ret_impl=True)
    
    repl = replicate_agg(df, w, cat_cols, stat_col, wmedian, n_replicates=n_replicates) 

    stat = pd.concat([impl, repl], axis=1).mean(axis=1)
    se = np.sqrt(6/5)*impl.std(axis=1) + repl.std(axis=1)

    t =  pd.concat([stat, se], axis=1)
    t.columns = ['stat', 'se']
    return t
    
    
%time implrepl_agg(df[df.year==2016], w, 'race', 'networth', wmedian, n_replicates=500)

CPU times: user 6min 18s, sys: 5min, total: 11min 18s
Wall time: 11min 21s

                stat            se
race
black   17178.765077   2449.275484
hisp    22337.721097   2914.472078
other  105985.940705  21318.483966
white  170014.535466   7824.842774

In [14]:
    
%time implrepl_agg(df[df.year==2016], w, 'race', 'networth', wmedian)

CPU times: user 18min 46s, sys: 13min 5s, total: 31min 51s
Wall time: 31min 57s

                stat            se
race
black   17151.080162   2485.379158
hisp    22329.504278   2885.440370
other  106008.934459  20898.529432
white  169977.597403   7909.279460

In [15]:
    
%time implrepl_agg(df[df.year==2019], w, 'race', 'networth', wmedian)

CPU times: user 17min 8s, sys: 12min 7s, total: 29min 15s
Wall time: 29min 22s

                stat            se
race
black   20741.077612   4122.443693
hisp    35395.004975   5399.722792
other  183131.781095  37249.183097
white  178450.483582   7367.481173

In [16]:
    
%time implrepl_agg(df, w, 'race', 'networth', wmedian)

CPU times: user 35min 59s, sys: 25min 4s, total: 1h 1min 4s
Wall time: 1h 1min 11s

                stat            se
race
black   18504.042095   2416.606469
hisp    26704.526159   3350.385744
other  148418.565094  23072.671597
white  174556.602504   5900.922416